*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --brand-colour: #2196f3;
  --text-one: #212121;
  --text-two: #757575;
  --text-three: #000;
  --icon-color: #AFB1B8;
  --background-one: #2f303a;
  --background-two: #f5f4fa;
  --background-three: #F5F4FA;
  --font-families: 'Roboto';
  --basic-color: #fff;
}

.body {
  font-family: var(--font-families), 'Raleway', sans-serif;
  color: var(--text-one);
  max-width: 1600px;
  margin: 0 auto;
}

.link,
.header-link,
.contact-link {
  text-decoration: none;
  color: var(--text-three);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.current-page {
  text-decoration: none;
  color: var(--brand-colour);
}

.current-page-item {
  max-height: 48px;
}

.current-page::after  {
  display: block;
  content: ' ';
  background-color: var(--brand-colour);
  width: 54px;
  height: 4px;
  margin-top: 26.5px;
  border-radius: 2px;
}

.link,
.contact,
.current-page,
.contact-link {
  font-size: 14px;
  font-weight: 500;
}

.link,
.current-page,
.contact-link {
  padding-right: 46px;
}

.button-filter {
  background-color: var(--background-two);
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  margin-left: 4px;
  margin-right: 4px;
  border-radius: 4px;
  padding: 6px 20px;

  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact {
  text-decoration: none;
  color: var(--text-two);
  fill: var(--text-two);
  line-height: 171%;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link {
  padding-left: 46px;
}

.link:hover,
.contact:hover,
.link:focus,
.contact:focus,
.footer-link:focus,
.footer-link:hover,
.header-link:focus,
.header-link:hover,
.contact-link:focus,
.contact-link:hover {
  color: var(--brand-colour);
  fill: var(--brand-colour);
}

.button-filter:hover {
  background-color: var(--brand-colour);
  color: var(--basic-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.order {
  background-color: var(--brand-colour);
  color: var(--basic-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 188%;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 10px 41px;

  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.order:hover {
  background-color: var(--basic-color);
  color: var(--brand-colour);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.section-one {
  background-image: linear-gradient(
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)),
    url("/images/main-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: var(--basic-color);
  font-size: 44px;
  font-weight: 900;
  line-height: 136%;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  height: 600px;
  border: 1px;
  border-color: rgba(0, 0, 0, 1);
}

.text {
  color: var(--text-two);
  line-height: 171%;
  letter-spacing: 0.03em;
  text-align: start;
  padding-left: 15px;
}

.footer {
  background-color: var(--background-one);
  color: var(--basic-color);
  height: 252px;
  padding-top: 40px;
}

.footer-link {
  color: var(--basic-color);
  text-decoration: none;
  margin-left: 215px;
  margin-top: 60px;
  margin-bottom: 20px;
  letter-spacing: 0.03em;
}

.header-link,
.footer-link {
  font-size: 26px;
  font-weight: 700;
  font-family: 'Raleway';
}

.header {
  margin-bottom: 0px;
}

.team-section {
  background-color: var(--background-two);
  padding-top: 94px;
  padding-bottom: 94px;
}

.branding {
  color: var(--brand-colour);
}

.title {
  font-weight: 700;
  margin-top: 0px;
  text-align: start;
  padding-left: 15px;
}

.section-title {
  font-size: 36px;
  font-weight: 700;
}

.figure-background {
  background-color: var(--basic-color);
  border: 1px solid #eeeeee;
  margin: 0px;
}

.overlay {
  position: relative;
  overflow: hidden;
}

.overlay-description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: var(--basic-color);
  transform: translateY(100%);
  transition: transform 1500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-description {
  padding-top: 49px;
  padding-left: 24px;
  padding-right: 45px;
  margin: 0;
}

.overlay:hover .overlay-description {
  transform: translateY(0);
}

.address {
  font-style: normal;
  font-size: 14px;
  line-height: 171%;
  margin-left: 215px;
  margin-bottom: 9px;
}

.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
  list-style-type: none;
  display: flex;
  letter-spacing: 0.03em;
  padding: 0;
}

.upper-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 200%;
  letter-spacing: 0.06em;
}

.upper-text,
.bottom-text {
  text-align: start;
}

.bottom-text,
.bottom-name {
  color: var(--text-two);
  font-size: 16px;
  line-height: 188%;
  letter-spacing: 0.03em;
}

.bottom-name {
  text-align: center;
  margin-bottom: 16px;
  margin-top: 10px;
}

.name {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ececec;
  height: 80px;
  margin: 0 auto;
}

.menu {
  list-style-type: none;
  display: flex;
  padding-left: 0px;
  padding-right: 93px;
  letter-spacing: 0.02em;
  margin-bottom: 0px;
  margin-top: 32px;
}

.header-link {
  letter-spacing: 0.03em;
}

.header-item {
  margin-left: 215px;
}

.contact-list {
  display: flex;
  list-style-type: none;
  justify-content: end;
  letter-spacing: 0.02em;
  margin-right: 215px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filters {
  display: flex;
  justify-content: center;
  padding-top: 94px;
  padding-bottom: 50px;
}

.projects {
  padding-top: 0px;
  padding-bottom: 94px;
  max-width: 1170px;
  margin: 0 auto;
  align-items: center;
}

.projects-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-top: -30px;
  padding-left: 0px;
}

.projects-item {
  display: flex;
  justify-content: center;
  margin-right: 30px;
  margin-top: 30px;
  flex-basis: calc(100% / 3 - 30px);
  max-width: 370px;
  cursor: pointer;

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
  0px 4px 4px rgba(0, 0, 0, 0.06),
  1px 4px 6px rgba(0, 0, 0, 0.16);
}

.container {
  max-width: 1600px;
  padding-left: auto;
  padding-right: auto; 
}

.container-align {
  text-align: center;
}

.caption {
  padding: 0px 24px 20px 24px;
  z-index: 2;
}

.footer-contacts {
  list-style-type: none;
  margin-left: 215px;
  padding-left: 0px;
  margin-top: 0px;
}

.mail {
  padding-bottom: 9px;
}

.mail-header {
  padding-right: 50px;
}

.main-title {
  margin: 0px;
  padding-top: 200px;
  line-height: 136%;
  letter-spacing: 0.06em;
  font-size: 44px;
}

.main-button {
  margin-top: 0px;
  padding-top: 30px;
}

.about {
  padding: 94px 0px;
  margin-left: 215px;
  max-width: 1170px;
}

.about-list {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0px;
  width: 1170px;
  padding: 0px;
}

.about-us {
  display: flex;
  list-style: none;
  padding: 50px 215px 0px 215px;
  justify-content: space-around;
  margin-bottom: 0px;
}

.about-day {
  display: flex;
  list-style: none;
  padding: 50px 215px 94px 215px;
  justify-content: space-around;
  margin: 0 auto;
}

.about-title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
}

.contact-icon {
  margin-right: 10px;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.feature {
  width: 270px;
  height: 120px;
  background-color: var(--background-three);
  border-radius: 4px;
  padding: 25px 100px;
  margin-bottom: 30px;
}

.team {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
  0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  max-width: 270px;
  border: none;
}

.social-list {
  list-style: none;
  display: flex;
  margin-bottom: 30px;
}

.social-button {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  fill: var(--icon-color);

  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-footer {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  fill: #fff;
  background-color: rgba(255, 255, 255, 0.1);

  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
  width: 20px;
  height: 20px;
}

.social-button:hover,
.social-button:focus,
.social-footer:hover,
.social-footer:focus {
  fill: #fff;
  background-color: var(--brand-colour);
}

.clients {
  padding-top: 94px;
}

.client-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 1170px;
  margin: 50px 215px 53px 215px;
  padding-left: 0px;
  padding: 0px;
}

.client-link {
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  fill: var(--icon-color);
  cursor: pointer;
  justify-content: center;
  align-items: center;
  
  transition-property: fill, background-color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover,
.client-link:focus {
  fill: var(--brand-colour);
  border-color: var(--brand-colour);

}

.client-logo {
  width: 106px;
  height: 60px;
}

.footer-big-list {
  display: flex;
  list-style: none;
  padding-left: 0px;
  margin-top: 0px;
}

.join {
  margin-bottom: 20px;
  margin-top: 32px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-social-list {
  display: flex;
  list-style: none;
  padding-left: 0px;
}

.footer-second-item {
  margin-left: 70px ;
}

.footer-social-item {
  padding-right: 10px;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 528px;
  height: 581px;
  background-color: var(--basic-color);
  border-radius: 4px;

  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--basic-color);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover,
.close-button:focus {
  background-color: var(--brand-colour);
}

.x-button {
  width: 11px;
  height: 11px;
}

.relative {
  position: relative;
}

.description {
  position: absolute;
  top: 224px;
  background-color: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
  text-align: center;
}

.description-text {
  margin-top: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--basic-color);
}