.clients__list {
    margin: 30px auto 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    width: 450px;
    padding: 0;
}

.clients__link {
    display: flex;
    width: 210px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    fill: var(--icon-color);
    cursor: pointer;
    justify-content: center;
    align-items: center;

    transition-property: fill, background-color, border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        fill: var(--brand-colour);
        border-color: var(--brand-colour);
    }
}

.clients__logo {
    width: 106px;
    height: 60px;
}

@media screen and (max-width: 419.999px) {
    .clients {
        padding: 60px 0 30px;
    }

    .clients__list {
        justify-content: center;
    }

    .clients__link {
        margin-bottom: 30px;
    }
}

@media screen and (min-width: 420px) {
    .clients {
        padding: 60px 0;
    }

    .clients__list {
        justify-content: space-between;
    }
}

@media screen and (min-width: 420px) and (max-width: 767.999px) {

    .clients__list {
        height: 336px;
    }
}

@media screen and (min-width: 768px) {

    .clients__list {
        width: 738px;
        align-content: space-between;
    }

    .clients__link {
        width: 226px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199.999px) {

    .clients__list {
        height: 214px;
    }
}

@media screen and (min-width: 1200px) {
.clients {
    margin: 94px 0;
    padding: 0;
}

.clients__list {
    justify-content: space-between;
    width: 1170px;
    margin: 50px auto 0;
}

.clients__link {
    width: 170px;
}
}