.face {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: var(--basic-color);
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    height: 400px;
}

.face__background {
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
}

.face__title {
    line-height: 162%;
    letter-spacing: 0.06em;
    font-size: 26px;
    margin: 0px;
    padding-top: 118px;
}

.face__button {
    margin-top: 30px;
    padding-top: 0px;
}

.button-order {
    background-color: var(--brand-colour);
    color: var(--basic-color);
    font-size: 16px;
    font-weight: 700;
    line-height: 188%;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    padding: 10px 41px;
    letter-spacing: 0.06em;

    transition-property: color, background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        background-color: var(--basic-color);
        color: var(--brand-colour);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
}

@media screen and (max-width:767.999px) {
    .face__background {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)), url('../../images/main-background-480.jpg');
    }

@media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .face__background {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)), url('../../images/main-background-480@2x.jpg');
    }
}
}

@media screen and (min-width: 768px) and (max-width:1199.999px) {
    .face__background {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)), url('../../images/main-background-768.jpg');
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .face__background {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)), url('../../images/main-background-768@2x.jpg');
        }
    }
}

@media screen and (min-width: 1200px) {
    .face {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url("/images/main-background.jpg");
        height: 600px;
        border: 1px;
        border-color: rgba(0, 0, 0, 1);
    }

    .face__background {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)), url('../../images/main-background-1600.jpg');
    }

    .face__title {
        padding-top: 200px;
        line-height: 136%;
        font-size: 44px;
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .face__background {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)), url('../../images/main-background-1600@2x.jpg');
        }
    }
}