.filtres {
    text-align: center;
    padding-top: 60px;
}

.filters__button-list {
    font-weight: 500;
    font-size: 16px;
    line-height: 162%;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    letter-spacing: 0.03em;
    padding: 0;
    margin-top: 60px;
    margin: 60px auto 40px;
    max-width: 450px;
}

.filters__button {
    background-color: var(--background-two);
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    line-height: 162%;
    letter-spacing: 0.03em;
    margin-left: 4px;
    margin-right: 4px;
    border-radius: 4px;

    transition-property: color, background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: var(--brand-colour);
        color: var(--basic-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
            0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}

@media screen and (max-width: 399.999px) {

    .filters__button-list {
        justify-content: center;
    }
}

@media screen and (max-width: 767.999px) {

    .filters__button--all {
        margin-bottom: 15px;
        padding: 6px 13px;
    }

    .filters__button--pages {
        padding: 6px 39.5px;
    }

    .filters__button--apps {
        margin-bottom: 15px;
        padding: 6px 37.5px;
    }

    .filters__button--design {
        padding: 6px 28px;
    }

    .filters__button--marketing {
        padding: 6px 26.5px;
    }
}

@media screen and (min-width: 768px) {

    .filters__button-list {
        max-width: 658px;
        justify-content: space-between;
    }

    .filters__button {
        margin: 0;
    }

    .filters__button--all {
        padding: 6px 13px;
    }

    .filters__button--pages {
        padding: 6px 40px;
    }

    .filters__button--apps {
        padding: 6px 38px;
    }

    .filters__button--design {
        padding: 6px 28px;
    }

    .filters__button--marketing {
        padding: 6px 27px;
    }
}

@media screen and (min-width: 1200px) {

    .filters {
        margin: 94px 0 50px;
    }

    .filters__button-list {
        margin: 0 auto;
        max-width: 572px;
    }

    .filters__button {
        padding: 6px 22px;
    }
}