.projects {
    max-width: 450px;
    margin: 0 auto 60px;
}

.projects__list {
    list-style-type: none;
    padding-left: 0px;
    margin: 0;
}

.projects__item {
    cursor: pointer;
    max-width: 450px;

    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
            0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.figure {
    background-color: var(--basic-color);
    border: 1px solid #eeeeee;
    margin: 0px;
}

.figure__overlay {
    position: relative;
    overflow: hidden;

    &:hover .figure__overlay-description {
        transform: translateY(0);
    }
}

.figure__overlay-description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(33, 150, 243, 0.9);
    font-size: calc(18px - 50%);
    line-height: 28px;
    letter-spacing: 0.03em;
    color: var(--basic-color);
    padding-top: 49px;
    padding-left: 24px;
    padding-right: 45px;
    margin: 0;

    transform: translateY(100%);
    transition: transform 1500ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.figure__caption {
    padding: 0px 24px 20px 24px;
}

.figure__caption-top {
    font-weight: 700;
    font-size: 18px;
    line-height: 200%;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
}

.figure__caption-top,
.figure__caption-bottom {
    text-align: start;
}

.figure__caption-bottom {
    color: var(--text-two);
    font-size: 16px;
    line-height: 188%;
    letter-spacing: 0.03em;
    margin-top: 0px;
    margin-bottom: 0px;
}

@media screen and (min-width: 400px) {
    .figure__overlay-description {
        font-size: 18px;
    }
}

@media screen and (max-width: 767.999px) {
    .projects__list .projects__item:not(:last-child) {
        margin-bottom: 30px;
    }
}

@media screen and (min-width: 768px) {

    .projects {
        max-width: 738px;
    }

    .projects__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: space-between;
        height: 2176px;
    }

    .projects__item {
        max-width: 354px;
        max-height: 440px;
    }

    .figure__caption--padding-bottom {
        padding-bottom: 54px;
    }
}

@media screen and (min-width: 1200px) {
.projects {
    padding-top: 0px;
    max-width: 1170px;
    margin: 0 auto 94px;
}

.projects__list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-top: -30px;
}

.projects__item {
    display: flex;
    justify-content: center;
    margin-right: 30px;
    margin-top: 30px;
    flex-basis: calc(100% / 3 - 30px);
    max-width: 370px;
}
}