.projects {
    padding-top: 0px;
    padding-bottom: 94px;
    max-width: 1170px;
    margin: 0 auto;
    align-items: center;
}

.projects_list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-top: -30px;
    padding-left: 0px;
}

.projects_item {
    display: flex;
    justify-content: center;
    margin-right: 30px;
    margin-top: 30px;
    flex-basis: calc(100% / 3 - 30px);
    max-width: 370px;
    cursor: pointer;

    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
            0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.figure {
    background-color: var(--basic-color);
    border: 1px solid #eeeeee;
    margin: 0px;
}

.figure_overlay {
    position: relative;
    overflow: hidden;

    &:hover .figure_overlay-description {
        transform: translateY(0);
    }
}

.figure_overlay-description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(33, 150, 243, 0.9);
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: var(--basic-color);
    padding-top: 49px;
    padding-left: 24px;
    padding-right: 45px;
    margin: 0;

    transform: translateY(100%);
    transition: transform 1500ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.figure_caption {
    padding: 0px 24px 20px 24px;
}

.figure_caption-top {
    font-weight: 700;
    font-size: 18px;
    line-height: 200%;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
}

.figure_caption-top,
.figure_caption-bottom {
    text-align: start;
}

.figure_caption-bottom {
    color: var(--text-two);
    font-size: 16px;
    line-height: 188%;
    letter-spacing: 0.03em;
    margin-top: 0px;
    margin-bottom: 0px;
}