.header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ececec;
    height: 60px;
    justify-content: center;
    margin: 0 auto;
}

.header__div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menu-button {
    fill: var(--text-three);
    cursor: pointer;
    height: 16px;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        fill: var(--brand-colour);
    }
}

.header__menu {
    list-style-type: none;
    display: flex;
    padding-left: 0px;
    letter-spacing: 0.02em;
    margin-bottom: 0px;
    margin-top: 32px;
    margin-left: 83px;
    align-items: baseline;
}

.header__current-page-link {
    text-decoration: none;
    color: var(--brand-colour);

    &::after {
        display: block;
        content: ' ';
        background-color: var(--brand-colour);
        width: 54px;
        height: 4px;
        margin-top: 26.5px;
        border-radius: 2px;
    }
}

.header__nav {
    text-decoration: none;
    color: var(--text-three);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover {
        color: var(--brand-colour);
        fill: var(--brand-colour);
    }
}

.header__nav,
.header__current-page {
    font-size: 14px;
    font-weight: 500;
}



.header__current-page {
    max-height: 48px;
    padding-right: 60.5px;
}

.header__contacts {
    padding: 0;
    list-style-type: none;
    letter-spacing: 0.02em;
}

.header__icon {
    margin-right: 10px;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767.999px) {

    .header__div {
        width: 450px;
        align-items: baseline;
    }

    .header__menu,
    .header__contacts {
        display: none;
    }
}

@media screen and (min-width: 768px) {

    .header {
        height: 80px;
    }

    .header__div {
        width: 738px;
    }

    .header__left-side {
        display: flex;
        align-items: baseline;
    }

    .header__menu-button {
        display: none;
    }
}

@media screen and (max-width: 1199.999px) {

    .header {
        padding: 0 15px;
    }

    .header__nav--padding {
        padding-right: 60.5px;
    }

    .header__icon--mail-size {
        width: 14px;
        height: 10px;
    }

    .header__icon--phone-size {
        width: 10px;
        height: 14px;
    }
}

@media screen and (min-width: 1200px) {

    .header {
        justify-content: center;
        margin: 0 auto;
    }

    .header__div {
        width: 1170px;
        display: flex;
        align-items: baseline;
    }

    .header__heading {
        margin-left: 0;
    }

    .header__menu {
        width: 254px;
        justify-content: space-between;
    }

    .header__current-page {
        padding: 0;
    }

    .header__contacts {
        display: flex;
        justify-content: end;
        margin-right: 0;
    }

    .header__mail {
        padding-right: 50px;
    }

    .header__icon--mail-size {
        width: 16px;
        height: 12px;
    }

    .header__icon--phone-size {
        width: 10px;
        height: 16px;
    }
}