.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ececec;
    height: 80px;
    margin: 0 auto;
}
.header__heading {
    margin-left: 215px;
}

.header__menu {
    list-style-type: none;
    display: flex;
    padding-left: 0px;
    padding-right: 100px;
    letter-spacing: 0.02em;
    margin-bottom: 0px;
    margin-top: 32px;
    align-items: baseline;
}

.header__current-page-link {
    text-decoration: none;
    color: var(--brand-colour);

    &::after {
        display: block;
        content: ' ';
        background-color: var(--brand-colour);
        width: 54px;
        height: 4px;
        margin-top: 26.5px;
        border-radius: 2px;
    }
}


.header__nav {
    text-decoration: none;
    color: var(--text-three);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover {
        color: var(--brand-colour);
        fill: var(--brand-colour);
    }
}

.header__current-page {
    max-height: 48px;
}

.header__nav,
.header__current-page {
    font-size: 14px;
    font-weight: 500;
}

.header__nav {
    padding-right: 46.5px;
}

.header__nav--padding {
    padding-right: 46px;
}

.header__nav--padding {
    padding-left: 46px;
}

.header__contacts {
    display: flex;
    list-style-type: none;
    justify-content: end;
    letter-spacing: 0.02em;
    margin-right: 215px;
}

.header__mail {
    padding-right: 50px;
}

.header__icon {
    margin-right: 10px;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}