.header__logo {
    color: var(--text-three);
}

.header__logo,
.footer__logo {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.03em;
    font-family: 'Raleway';
    text-decoration: none;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover {
        color: var(--brand-colour);
        fill: var(--brand-colour);
    }
}

.footer__logo {
    color: var(--basic-color);
}

.logo__branding {
    color: var(--brand-colour);
}

@media screen and (max-width: 1199.999px) {
    
    .footer__logo-mobile {
        margin: 0 0 20px;
    }
}

@media screen and (min-width: 1200px) {

    .header__logo,
    .footer__logo {
        font-size: 26px;                     
    }

    .footer__logo {
        margin-top: 60px;
        margin-bottom: 20px;
    }    
}