.modal-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 609px;
    background-color: var(--basic-color);
    border-radius: 4px;

    transition-property: all;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--basic-color);

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: var(--brand-colour);
        fill: var(--basic-color);
    }
}

.close-button__x {
    width: 11px;
    height: 11px;
}

.form-title {
    margin: 40px auto 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-one);
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__item {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    letter-spacing: 0.01em;
    color: var(--text-two);
}

.form__input {
    width: 370px;
    height: 40px;
    padding-left: 40px;
    margin-bottom: 10px;
    margin-top: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form__comment {
    width: 370px;
    height: 120px;
    margin-bottom: 20px;
    margin-top: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    padding: 12px 16px;

    &::placeholder {
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.01em;

        color: rgba(117, 117, 117, 0.5);
    }

    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form__checkbox-box {
    display: flex;
}

.form__checkbox {
    margin-top: 5px;
}

.form__checkbox-description {
    margin-top: 0px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.03em;
    color: var(--text-two);

    &::before {
        display: inline-block;
        content: "";
        width: 16px;
        height: 15px;
        border: 1px solid var(--text-three);
        border-radius: 2px;
    }
}

.form__checkbox:checked+.form__checkbox-description::before {
    background-color: var(--brand-colour);
    border: none;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.95703 4.75166L1.88825 4.68604L1.81923 4.75141L0.93123 5.59258L0.854858 5.66492L0.930974 5.73753L4.42671 9.07236L4.49574 9.1382L4.56476 9.07236L12.069 1.91352L12.1449 1.84116L12.069 1.76881L11.1873 0.927644L11.1183 0.861826L11.0493 0.927611L4.49577 7.17353L1.95703 4.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    flex-direction: center;
    text-align: center;
}

.form__link {
    color: var(--brand-colour);
}

.form__submit {
    width: 200px;
    height: 50px;
    margin-top: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background-color: var(--brand-colour);
    color: var(--basic-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 188%;
    letter-spacing: 0.06em;
    border: none;
    cursor: pointer;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: var(--basic-color);
        color: var(--brand-colour);
    }
}

.form__person {
    position: absolute;
    top: 24.5%;
    transform: translateY(-50%);
    left: 54px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__phone {
    position: absolute;
    top: 36%;
    transform: translateY(-50%);
    left: 54px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__email {
    position: absolute;
    top: 47%;
    transform: translateY(-50%);
    left: 54px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__item:hover,
.form__item:focus,
.form__input:hover,
.form__input:focus,
.form__comment:hover,
.form__comment:focus {
    border-color: var(--brand-colour);
    fill: var(--brand-colour);
}

.form__phone:hover,
.form__phone:focus,
.form__person:focus,
.form__person:hover,
.form__email:hover,
.form__email:focus {
    fill: var(--brand-colour);
}

@media screen and (max-width: 767.99px) {
    .form-title {
        max-width: 370px;
    }
}

@media screen and (min-width: 1200px) {
    .modal-window {
        width: 528px;
        height: 581px;
    }

    .form-title {
        line-height: 23px;
    }

    .form__input {
        width: 448px;
    }

    .form__comment {
        width: 448px;
    }

    .form__person {
        top: 19.5%;
    }

    .form__phone {
        top: 31%;
    }

    .form__email {
        top: 42.7%;
    }

    .form__checkbox-description {
        font-size: 14px;
        line-height: 171%;
    }
}